doctype
html
	head
		title Login V5
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="icon"  type="image/png" href="images/icons/favicon.ico")
		link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css")
		link(rel="stylesheet" href="vendor/animate/animate.css")
		link(rel="stylesheet" href="vendor/css-hamburgers/hamburgers.min.css")
		link(rel="stylesheet" href="vendor/animsition/css/animsition.min.css")
		link(rel="stylesheet" href="vendor/select2/select2.min.css")
		link(rel="stylesheet" href="vendor/daterangepicker/daterangepicker.css")
		link(rel="stylesheet" href="css/util.css")
		link(rel="stylesheet" href="css/main.css")
	body
		.limiter
			.container-login100(style="background-image: url('images/bg-01.jpg');")
				.wrap-login100.p-l-100.p-r-100.p-t-62.p-b-33
					form.login100-form.validate-form.flex-sb.flex-w
						span.login100-form-title.p-b-53 Sign in with
						a.btn-google.m-b-20(href="/auth/google")
							img(src="images/icons/icon-google.png" alt="GOOGLE") 
							| Google

						.container-login100-form-btn.m-t-17
								